div {
    ol {
      font-weight: bold;
    }
    ul {
      font-weight: lighter;
    }
}

// OTHER ACHIEVE PAGE
table {
    border: 2px solid black;
    border-collapse: collapse;
    width: 80%;
    text-align: center;
    th, td {
        border: 1px solid black;
        padding: 5px;
    }
    th {
        background-color: lightgray;
    }
    td {
        font-weight: lighter;
    }
}

%message {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    white-space: nowrap;
}

.middle {
    @extend %message;
    text-align: center;
    
}

.left {
    @extend %message;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

#title {
    font-size: xx-large;
    font-weight: bold;
}

.screen-only {
    @extend %message;
    text-align: center;
}

// GO GREEN NOT DISPLAYED
@media print {
    .screen-only {
        display: none;
    }
}

// SHAKE SOCIAL MEDIA ICONS
@media only screen and (min-width: 600px) {
    .fa:hover {
        animation: shake 0.5s;
        animation-iteration-count: infinite;
    }
    @keyframes shake {
        0% { transform: translate(1px, 1px) rotate(0deg); }
        10% { transform: translate(-1px, -2px) rotate(-1deg); }
        20% { transform: translate(-3px, 0px) rotate(1deg); }
        30% { transform: translate(3px, 2px) rotate(0deg); }
        40% { transform: translate(1px, -1px) rotate(1deg); }
        50% { transform: translate(-1px, 2px) rotate(-1deg); }
        60% { transform: translate(-3px, 1px) rotate(0deg); }
        70% { transform: translate(3px, 1px) rotate(-1deg); }
        80% { transform: translate(-1px, -1px) rotate(1deg); }
        90% { transform: translate(1px, 2px) rotate(0deg); }
        100% { transform: translate(1px, -2px) rotate(-1deg); }
    }
}

// SOCIAL MEDIA ICONS AHEAD
$colour: white;
.fa {
    @extend %message;
    font-size: 50px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin: 5px;
}
.fa:hover {
    opacity: 0.8;
}
.fa-facebook {
  background: #3B5998;
  color: $colour;
}
.fa-twitter {
  background: #55ACEE;
  color: $colour;
}
.fa-linkedin {
  background: #007bb5;
  color: $colour;
}
.fa-instagram {
  background: #125688;
  color: $colour;
}
.fa-skype {
  background: #00aff0;
  color: $colour;
}